# Ігноруємо всі файли з розширенням .pyc
*.pyc

# Ігноруємо каталоги virtualenv
venv/
env/

# Ігноруємо всі файли з конфігурацією IDE
.idea/
.vscode/

# Ігноруємо лог-файли
*.log

# Ігноруємо файли на Windows
Thumbs.db
Desktop.ini
